<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> 

body {
  font-family: 'Roboto Slab', serif;
  background: #10383C!important; 
  background-image: url(../images/pattern.flowers.png)!important;
} 

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.left-padding {
  padding-left: 0;
}

.right-padding {
  padding-right: 0;
}

/*==============================
=            Header            =
==============================*/

.top-header {
  padding: 24px 0;
  background: #fff;
}
.logo img {
  }

.site-flag {
  width: 146px;
  margin-right: 18px;
}

.flag {
    padding-top: 14px;
}

.flag img {
  width: 24px;
}

@media (max-width: 340px) {

.logo img {
  max-width: 240px;
}
} 

@media (max-width: 596px) {    
  .site-info {  
    display: none;
  } 
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  z-index: 999;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #AF2724;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
padding: 14px;
font-size: 11px;
letter-spacing: 1px;
text-decoration: none;
color: #dddddd;
font-weight: 700;
text-transform: uppercase;
  z-index: -111;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff !important;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 18px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 15px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu  ul  li.active{
color: #fff;

}
#cssmenu > ul > li.active a{color:#AF2724 !important;
  z-index: -111;}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #AF2724;
  z-index: -111;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff !important;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index: -111;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff !important;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}


/*=====================================
=            Dropdown Menu            =
=====================================*/
.navbar-nav>li>.dropdown-menu {
    margin-top: 0px!important;
    margin-right: 14px!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #A10D18;
    padding: 0; 
    box-shadow: none;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #DC6D42!important;;
}

@media (min-width: 768px) {

.nav>li:hover .dropdown-menu {
    display: block;
}

.navbar-nav>li>.dropdown-menu { 
    background: #A10D18;
    display: none;
    transform: scale(1.0);
    transition: all 0.8s ease-in-out;
}

.navbar-default .navbar-nav>.open>a{
    color: #fff!important;
    background: none!important;
}

}

.navbar-nav>li>.dropdown-menu li a {
    padding: 10px!important;
    color: #fff;
}

.dropdown-menu li:hover a {
    background: #A10D18!important;
    color: #fff!important;
    padding: 10px;
}


/*=====  End of Dropdown Menu  ======*/
 

/*=====  End of Header  ======*/



/*=================================
=            Banner            =
=================================*/

.banner { 
}

.item img {
  max-width: 100%;
    }

.glyphicon-chevron-left:before {
  content: "\f104";
  font-family: 'fontawesome'; }

.glyphicon-chevron-right:before {
  content: "\f105";
  font-family: 'fontawesome'; }

.carousel-control.left {
  background-image: none; }

.left.carousel-control {
  width: auto;
  left: 60px; }

.right.carousel-control {
  width: auto;
  right: 60px; 
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 0;
  margin-left: 0!important; 
  padding-top: 2px;
  color: #fff;
  top: 147px;
  background: #222;
  width: 46px;
  height: 46px;
}

@media (max-width: 1200px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { 
    top: 140px;
  }
}

@media (max-width: 991px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev { 
    top: 110px;
    display: none;
  }
}


.left.carousel-control {
  left: 0;
}

.right.carousel-control {
  right: 0;
}
 
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev { 
  right: -1px;
  margin-right: 0!important; 
  padding-top: 2px;
  color: #fff;
  top: 147px;
  background: #222;
  width: 46px;
  height: 46px;
}

@media (max-width: 1200px) {
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev { 
    top: 140px;
  }
}

@media (max-width: 991px) {
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev { 
    top: 110px;
    display: none;
  }
}
 
.carousel-caption {
    position: absolute;
    text-align: left!important;
    right: 0!important;
    left: 4%;
    bottom: 40px;
    background: #fff; 
    padding: 10px;
    border-radius: 12px;
    width: 480px;
}

@media (max-width: 614px) {
  .carousel-caption {
    display: none;
  }
}

.carousel-caption h1 { 
  color: #333;
  text-shadow: none; 
  font-size: 20px; 
  margin: 0;
  text-align: center;
  font-weight: 300;
}

.carousel-caption p { 
  margin: 0;
  padding: 10px 0 0;
  color: #fff; 
  font-size: 14px; 
  font-weight: 400;
}

.carousel-caption {
    }

.carousel-indicators { 
    display: none;}

.carousel-caption a {
  background: #FF0080!important;
  border-radius: 0;
  color: #fff;
  padding: 10px 28px;
  font-size: 16px;
  font-family: 'open sans';
  font-weight: 400;
}

/*=====  End of Banner  ======*/

/*===============================
=            Content            =
===============================*/

.single-box .box:nth-child(1) {
  background: #7C1623;
}
.single-box .box:nth-child(2) {
  background: #1B496E;
}
.single-box .box:nth-child(3) {
  background: #6F973F;
}
.single-box .box:nth-child(4) {
  background: #2BB4C0;
}
 
.box { 
  position: relative;
  width: 25%;
  float: left;
  background: blue;
}

@media (max-width: 767px) {
  .box {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .box {
    width: 100%;
  }
}

.box h2 {
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-align: center;
  padding: 20px 0; 
}

.apply {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  padding: 20px 0; 
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s linear;
 -webkit-transition: opacity 0.5s linear;
 -moz-transition: opacity 0.5s linear;
 -o-transition: opacity 0.5s linear;
 -ms-transition: opacity 0.5s linear; 
}

.box:hover .apply {
  opacity: 1;
}

.box .apply { 
}

.apply a {
  color: #fff;
  margin: 0;
  font-size: 20px; 
  text-decoration: none;
}


.content { 
}

.content-in {
  background: #fff;
  padding: 40px 0;
}

.latest { 
  padding: 0 14px;
  position: relative;
}

.latest h4 {
  color: #A10D18;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.r-announcment ul {  
  list-style-image: url('../images/icon.png');
  padding: 0 0 0 18px;
}

.r-announcment ul li {  
  line-height: 28px;
}

.r-announcment ul li a {
  color: #444;
  text-decoration: none;
}

.r-announcment ul li a:hover {
  color: #A10D18; 
}

.smartmarquee {
  position: absolute;
  top: 40px;
  left: 40px; 
  overflow: hidden;
}

.smartmarquee .container {
}

.tab-content {
    color: #444;
    position: absolute;
    left: 40%;
    top: 0; 
}

.nav-tabs {
  border: 0;
}

.nav-tabs>li.active>a:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0);
    right: -48px;
    top: 28px;
    border: solid transparent;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #f3f3f3;
    border-width: 24px;
    border-top-width: 22px;
    margin-top: -29px;
}

.tab-content-in {
  padding: 0 24px;  
}

.tab-content-in h4 {
  color: #A10D18;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.tab-content-in p {
  margin: 0 24px 10px 0; 
}

.tab-content-in a {
  color: #222;
  text-decoration: none;
}

.tab-content-in a:hover {
  color: #A10D18;
}

ul.nav-tabs {
  padding: 20px; 
}

.nav-tabs>li {
  float: none;
  width: 36%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {     
  border-radius: 0;
  border: 1px solid #f3f3f3;
  border-bottom-color: none;
  color: #A10D18!important;
  background: #f3f3f3;
}

.nav-tabs>li.active>a>i, .nav-tabs>li.active>a>i:focus, .nav-tabs>li.active>a>i:hover {   
  border-radius: 0;
  border: 1px solid #f3f3f3;
  border-bottom-color: none;
  color: #fff!important;
  background: #A10D18;
}

.nav-tabs>li>a {  
  border-radius: 0;
  border: 1px solid #f3f3f3;
  border-bottom-color: none;
  color: #444!important;
  padding: 0 14px 0 0;
}

.nav-tabs>li>a:hover {
  border-radius: 0;
  border: 1px solid #f3f3f3;
  border-bottom-color: none; 
  color: #A10D18!important;
}

ul.nav-icons i { 
  text-align: center;
  width: 46px;height: 46px;
  line-height: 46px;
  color: #A10D18;
  border-right: 1px solid #f3f3f3;
  margin-right: 14px; 
  background: #fff;
}

@media (max-width: 570px) {

  .tab-content-in p {
  margin: 0 24px 10px 0;
  font-size: 12px; 
}

}

.tab-content>.tab-pane {
    padding: 18px;
}
 
/*=====  End of Content  ======*/



/*==============================
=            footer            =
==============================*/
.footer {
  padding: 30px 14px;
  background: #111;
}

.footer h4 {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #222;
  padding-bottom: 14px;
}

@media (max-width: 678px) {
  .footer h4 {
    margin-top: 28px;
  }
}

.footer ul {
  padding: 0 0 0 18px;
  list-style-image: url('../images/icon-white.png');
}

@media (max-width: 991px) {
  .footer ul { 
  }
}

.footer ul li {
  padding: 2px 0;
  color: #fff;
  font-size: 14px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer ul li a:hover {
  color: #A10D18;
  text-decoration: none;
}

.footer .clear {
  clear: both;
}


.footer ul li i { 
  width: 36px;
  height: 36px;
  padding-top: 12px;
  text-align: center;
  margin-right: 8px;
}

.footer ul li i:hover { 
  color: #fff;
  background: #A10D18;
}

li.fb i {
  background: #3b5998;
}
li.tweet i {
  background: #55acee;
}
li.gplus i {
  background: #dd4b39;
}

ul.social {
  padding: 0 0 0 6px;
}

.bottom-footer {
  background: #A10D18;
  color: #fff;
}

.bottom-footer p {
  margin: 0;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
}

.bottom-footer p a {
  color: #fff;
}


/*===================================
=            Single Page            =
===================================*/
.breadcrumb {
    padding: 30px 15px; 
     border-radius: 0;
     background: #000;
     margin-bottom: 0;
}

.breadcrumb h4 {
  margin: 0;
  color: #A10D18;
  font-size: 20px;  
}

ol.breadcrumb a {
  color: #fff;
}

ol.breadcrumb a:hover {
  color: #A10D18;
  text-decoration: none;
}

.breadcrumb>.active {
  color: #fff;
}

.content-in {
  padding: 40px 14px;
}

.content-in h4 {
  color: #A10D18;
  border-bottom: 1px solid #eee;
  padding-bottom: 14px;
}

.contact-map iframe {
  width: 100%;
}

/*=====  End of Single Page  ======*/

 



/*-------------Scroll to top--------------*/
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #ccc;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 22px;
  bottom: 40px;
  padding-bottom: 2px; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

.scroll-top-wrapper:hover {
  opacity: 1 !important;
  background: #A10D18;
  color: #fff;
   }

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0; }

.scroll-top-wrapper i.fa {
  line-height: inherit; }
 